<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ming.smartmedic.dao.DiseasesDao">


    <select id="countDiseases" parameterType="Map" resultType="Integer">
        select count(*)
        from t_sm_diseases
        <where>
            <if test="name != null and name != ''">
                AND name LIKE CONCAT('%', #{name}, '%')
            </if>
            AND is_deleted = 0
        </where>
    </select>

    <select id="listDiseases" parameterType="Map" resultType="cn.ming.smartmedic.domain.Diseases">
        select id,title,content,create_time as createTime,update_time as updateTime
        from t_sm_diseases
        <where>
            <if test="title != null and title != ''">
                AND title LIKE CONCAT('%', #{title}, '%')
            </if>
            AND is_deleted = 0
        </where>
        ORDER BY create_time DESC
        <if test="page != null">
            LIMIT #{pageSize} OFFSET #{page}
        </if>
    </select>

    <select id="getDiseases" parameterType="Integer" resultType="cn.ming.smartmedic.domain.Diseases">
        select id,title,content,create_time as createTime,update_time as updateTime,published
        from t_sm_diseases
        <where>
            id = #{id} AND is_deleted = 0
        </where>
    </select>

    <insert id="saveDiseases" parameterType="cn.ming.smartmedic.domain.Diseases" useGeneratedKeys="true" keyProperty="id"
            keyColumn="id">
        INSERT INTO t_sm_diseases
            (title, content, description, user_id, published)
            VALUE (#{title},#{content},#{description},#{userId},#{published})
    </insert>

    <update id="updateDiseases" parameterType="BigInteger">
        update t_sm_diseases
        set title = #{title},
        content = #{content},
        <where>
            id = #{id}
        </where>

    </update>

    <update id="deleteDiseases" parameterType="BigInteger">
        update t_sm_diseases
        set is_deleted = 1
        where id = #{id}
    </update>

</mapper>
