<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ming.smartmedic.dao.UserDao">

    <select id="findByUsernameAndPassword" parameterType="Map" resultType="cn.ming.smartmedic.domain.User">
        select *
        from t_sm_user
        <where>
            AND name = #{name} AND
            password = #{password} AND
            is_deleted = 0
        </where>
    </select>


</mapper>
